.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.content{
    grid-column-start: 2 ;
    grid-column-end: span 1 ;
    text-align: justify;
    /* background-color : #141518 */
}

body{
    padding: 15px;
}